@mixin textCenter($background) {
  text-align: center;
  background: $background;
}
//Use a @mixin to make a function that stores attributes that can be called upon within an elementlike below.
//This @mixin "textCenter" can be used in this file "_WeatherForecast.scss" or even in the parent file "Style.scss".
//In the parentheses in "textCenter()" you can add in a variable (or multiple variables) like "$background" which can be changed when @ included in an element's attribute list like "none" below

.WeatherForecast {
  @include textCenter(none);
  background: white;
  border-radius: 5px;
  margin: 0 14px 14px 14px;
}
.WeatherForecast-temperatures-min {
  opacity: 0.6;
}
.WeatherForecastSingleDay {
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: rgba(35, 160, 148, 0.05);
    border-radius: 6px;
    color: black;
    transform: scale(1.04);
  }
  .WeatherForecast-day {
    color: #8966ce;
    font-weight: 400;
    font-size: 19px;
  }
}
.WeatherIcon {
  padding-left: 8px;
}
