@mixin textCenter($background) {
  text-align: center;
  background: $background;
}
//Use a @mixin to make a function that stores attributes that can be called upon within an elementlike below.
//This @mixin "textCenter" can be used in this file "_WeatherForecast.scss" or even in the parent file "Style.scss".
//In the parentheses in "textCenter()" you can add in a variable (or multiple variables) like "$background" which can be changed when @ included in an element's attribute list like "none" below

.WeatherForecast {
  @include textCenter(none);
  background: rgba(59, 50, 67, 0.04);
  border-radius: 5px;
  margin: 0 14px 14px 14px;
}
.WeatherForecast-temperatures-min {
  opacity: 0.6;
}
.WeatherForecastSingleDay {
  text-align: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding-top: 6px;
  margin: 8px 0px 8px 0px;
  &:hover {
    background: white;
  }
  .WeatherForecast-day {
    color: rgb(156, 17, 255, 0.5);
    font-weight: 500;
    font-size: 18px;
  }
}
.WeatherIcon {
  padding-left: 8px;
}
