.WeatherForecast {
  text-align: center;
  background: none;
  background: white;
  border-radius: 5px;
  margin: 0 14px 14px 14px;
}

.WeatherForecast-temperatures-min {
  opacity: 0.6;
}

.WeatherForecastSingleDay {
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.WeatherForecastSingleDay:hover {
  background: rgba(35, 160, 148, 0.05);
  border-radius: 6px;
  color: black;
  transform: scale(1.04);
}
.WeatherForecastSingleDay .WeatherForecast-day {
  color: rgba(35, 160, 148, 0.9);
  font-weight: 400;
  font-size: 18px;
}

.WeatherIcon {
  padding-left: 8px;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}
.App footer {
  text-align: center;
  font-size: 11px;
  margin: 10px;
  color: rgba(119, 119, 119, 0.9);
}
.App footer a {
  text-decoration: none;
}

.Weather {
  border: 8px solid #23a094;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(72, 72, 74, 0.05);
  color: rgba(33, 33, 33, 0.65);
  font-family: "Jost", sans-serif;
  margin-top: 20px;
  /*on very small*/
}
.Weather input.form-control {
  color: #333333;
  background: white;
  border: 2px solid #23a094;
  opacity: 0.8;
}
@media (max-width: 360px) {
  .Weather .btn {
    font-size: 10px;
    width: 50px;
    padding: 10px 0px;
  }
}
@media (max-width: 500px) {
  .Weather h1 {
    text-align: center;
  }
}
@media (min-width: 575px) {
  .Weather .btn {
    width: 110px;
  }
  .Weather div.mainIcon {
    padding-left: 30px;
  }
}
.Weather input::-moz-placeholder {
  color: #333333;
  opacity: 0.7;
}
.Weather input:-ms-input-placeholder {
  color: #333333;
  opacity: 0.7;
}
.Weather input::placeholder {
  color: #333333;
  opacity: 0.7;
}
.Weather .row {
  margin: 4px 4px 0px 0px;
}
.Weather .searchRow {
  margin-top: 14px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}
.Weather div.searchForm {
  padding: none;
  max-width: 70%;
}
.Weather input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(35, 160, 148, 0.3);
}
.Weather div.searchBtn {
  padding: none;
}
.Weather .btn {
  background: #23a094;
  color: white;
  transition: all 0.13s ease-in-out;
}
.Weather .btn:hover {
  background: #23a094;
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.Weather h1 {
  color: #1a766d;
  opacity: 0.8;
  font-size: 42px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
.Weather li {
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}
.Weather canvas {
  display: inline;
  margin-right: 10px;
}
.Weather .mainIcon {
  font-size: 56px;
  line-height: 90px;
}
.Weather .currentTemp {
  color: #333333;
  opacity: 0.95;
  display: inline-block;
  font-size: 56px;
  font-weight: 300;
  line-height: 90px;
  vertical-align: bottom;
  margin-left: 1px;
}

.unit {
  color: #333333;
  font-size: 18px;
  position: relative;
  top: -22px;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: #1a766d;
}

.WeatherInfo {
  /*on small*/
  /*on medium-large*/
}
@media (max-width: 500px) {
  .WeatherInfo .row {
    margin-top: 15px;
  }
  .WeatherInfo h1 {
    font-size: 34px;
  }
  .WeatherInfo .dateDetails {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 4px;
    margin: 0;
  }
  .WeatherInfo .listDetails {
    font-size: 13px;
  }
  .WeatherInfo div.currentTemp {
    transform: scale(75%);
  }
  .WeatherInfo div.weatherInfoRow {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 500px) {
  .WeatherInfo .row h1 {
    margin-top: 20px;
  }
  .WeatherInfo .row .weatherInfoRow {
    margin-top: 10px;
  }
  .WeatherInfo h1 {
    font-size: 42px;
    margin-left: 10px;
  }
  .WeatherInfo .dateDetails {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin: 0;
  }
  .WeatherInfo .listDetails {
    font-size: 16px;
  }
}
.WeatherInfo ul {
  padding-left: 0;
}
.WeatherInfo .dateDetails {
  color: #333333;
  opacity: 0.5;
}
.WeatherInfo .listDetails {
  color: #333333;
}

.WeatherTemperature {
  line-height: 80px;
}/*# sourceMappingURL=Style.css.map */