$searchBtn: rgb(156, 17, 255);
$textColor: #333333;
@import "./WeatherForecast";

.Weather {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 4px;
  color: rgb(33, 33, 33, 0.65);
  font-family: "Poppins", sans-serif;
  padding: 16px;
  margin: 20px 0 0 0;
  .btn {
    background: $searchBtn;
    color: white;
  }
  h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    margin: 20px 0 6px 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    list-style: none;
  }
  canvas {
    display: inline;
    margin-top: 2px;
    margin-right: 3px;
  }
  .float-left {
    color: $textColor;
    display: inline-block;
    font-size: 50px;
    line-height: 42px;
    vertical-align: bottom;
  }
  .unit {
    color: $textColor;
    font-size: 18px;
    position: relative;
    top: -22px;
  }
  a {
    text-decoration: none;
  }
}
