.WeatherForecast {
  text-align: center;
  background: none;
  background: rgba(59, 50, 67, 0.04);
  border-radius: 5px;
  margin: 0 14px 14px 14px;
}

.WeatherForecast-temperatures-min {
  opacity: 0.6;
}

.WeatherForecastSingleDay {
  text-align: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding-top: 6px;
  margin: 8px 0px 8px 0px;
}
.WeatherForecastSingleDay:hover {
  background: white;
}
.WeatherForecastSingleDay .WeatherForecast-day {
  color: rgba(156, 17, 255, 0.5);
  font-weight: 500;
  font-size: 18px;
}

.WeatherIcon {
  padding-left: 8px;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}
.App footer {
  text-align: center;
  font-size: 11px;
  margin: 10px;
  color: rgba(119, 119, 119, 0.9);
}
.App footer a {
  text-decoration: none;
}

.Weather {
  border: 2px solid rgba(156, 17, 255, 0.3);
  border-radius: 5px;
  box-shadow: 2px 1px rgba(156, 17, 255, 0.08);
  color: rgba(33, 33, 33, 0.65);
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  /*on very small*/
}
.Weather input.form-control {
  color: white;
  background: rgb(156, 17, 255);
  opacity: 0.5;
}
@media (max-width: 290px) {
  .Weather .btn {
    font-size: 10px;
    width: 50px;
    padding: 10px 0px;
  }
}
.Weather input::-moz-placeholder {
  color: white;
}
.Weather input:-ms-input-placeholder {
  color: white;
}
.Weather input::placeholder {
  color: white;
}
.Weather .row {
  margin: 4px 4px 0px 0px;
}
.Weather .searchRow {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
}
.Weather div.searchForm {
  padding: none;
  max-width: 70%;
}
.Weather div.searchBtn {
  padding: none;
}
.Weather .btn {
  background: rgb(156, 17, 255);
  color: white;
  transition: all 0.13s ease-in-out;
}
.Weather .btn:hover {
  background: rgba(156, 17, 255, 0.7);
}
.Weather h1 {
  color: rgb(156, 17, 255);
  opacity: 0.8;
  font-size: 38px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 8px;
  margin-left: 14px;
  margin-bottom: 0;
  text-shadow: 2px 1px rgba(51, 51, 51, 0.15);
}
.Weather li {
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}
.Weather canvas {
  display: inline;
  margin-right: 10px;
}
.Weather .mainIcon {
  font-size: 56px;
  line-height: 90px;
}
.Weather .currentTemp {
  color: #333333;
  opacity: 0.95;
  display: inline-block;
  font-size: 56px;
  font-weight: 300;
  line-height: 90px;
  vertical-align: bottom;
  margin-left: 1px;
}

.unit {
  color: #333333;
  font-size: 18px;
  position: relative;
  top: -22px;
}

a {
  text-decoration: none;
}

.WeatherInfo {
  /*on small*/
  /*on medium-large*/
}
@media (max-width: 500px) {
  .WeatherInfo .row {
    margin-top: 15px;
  }
  .WeatherInfo .dateDetails {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 4px;
    margin: 0;
  }
  .WeatherInfo .listDetails {
    font-size: 13px;
  }
  .WeatherInfo div.currentTemp {
    transform: scale(75%);
  }
  .WeatherInfo div.weatherInfoRow {
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 500px) {
  .WeatherInfo .row {
    margin-top: 20px;
  }
  .WeatherInfo .dateDetails {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin: 0;
  }
  .WeatherInfo .listDetails {
    font-size: 16px;
  }
}
.WeatherInfo ul {
  padding-left: 0;
}
.WeatherInfo .dateDetails {
  color: #333333;
  opacity: 0.5;
}
.WeatherInfo .listDetails {
  color: #333333;
}

.WeatherTemperature {
  line-height: 80px;
}/*# sourceMappingURL=Style.css.map */