@import './WeatherForecast';
@import './App';
$mainColor: #8966ce;
$textColor: #333333;

.Weather {
  border: 8px solid $mainColor;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(72, 72, 74, 0.05);
  color: rgb(33, 33, 33, 0.65);
  font-family: 'Jost', sans-serif;
  margin-top: 20px;
  input.form-control {
    color: $textColor;
    background: white;
    border: 2px solid $mainColor;
    opacity: 0.8;
  }
  /*on very small*/
  @media (max-width: 360px) {
    .btn {
      font-size: 10px;
      width: 50px;
      padding: 10px 0px;
    }
  }
  @media (max-width: 500px) {
    h1 {
      text-align: center;
    }
  }
  @media (min-width: 575px) {
    .btn {
      width: 110px;
    }
    div.mainIcon {
      padding-left: 30px;
    }
  }
  input::placeholder {
    color: $textColor;
    opacity: 0.7;
  }
  .row {
    margin: 4px 4px 0px 0px;
  }
  .searchRow {
    margin-top: 14px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
  }
  div.searchForm {
    padding: none;
    max-width: 70%;
  }
  input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(35, 160, 148, 0.3);
  }
  div.searchBtn {
    padding: none;
  }
  .btn {
    background: $mainColor;
    color: white;
    transition: all 0.13s ease-in-out;
    &:hover {
      background: $mainColor;
      transform: scale(1.03);
      transition: all 0.3s ease-in-out;
    }
  }
  h1 {
    color: #8966ce;
    opacity: 0.8;
    font-size: 42px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
  }
  li {
    font-weight: 400;
    line-height: 20px;
    list-style: none;
  }
  canvas {
    display: inline;
    margin-right: 10px;
  }

  .mainIcon {
    font-size: 56px;
    line-height: 90px;
  }
  .currentTemp {
    color: $textColor;
    opacity: 0.95;
    display: inline-block;
    font-size: 56px;
    font-weight: 300;
    line-height: 90px;
    vertical-align: bottom;
    margin-left: 1px;
  }
}
.unit {
  color: $textColor;
  font-size: 18px;
  position: relative;
  top: -22px;
  padding-left: 5px;
}
a {
  text-decoration: none;
  color: #9071ce;
}

.WeatherInfo {
  /*on small*/
  @media (max-width: 500px) {
    .row {
      margin-top: 15px;
    }
    h1 {
      font-size: 34px;
    }
    .dateDetails {
      font-size: 13px;
      padding-top: 5px;
      padding-bottom: 4px;
      margin: 0;
    }
    .listDetails {
      font-size: 13px;
    }
    div.currentTemp {
      transform: scale(75%);
    }
    div.weatherInfoRow {
      display: flex;
      justify-content: space-around;
    }
  }
  /*on medium-large*/
  @media (min-width: 500px) {
    .row h1 {
      margin-top: 20px;
    }
    .row .weatherInfoRow {
      margin-top: 10px;
    }
    h1 {
      font-size: 42px;
      margin-left: 10px;
    }
    .dateDetails {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 4px;
      margin: 0;
    }
    .listDetails {
      font-size: 16px;
    }
  }
  ul {
    padding-left: 0;
  }
  .dateDetails {
    color: $textColor;
    opacity: 0.5;
  }
  .listDetails {
    color: $textColor;
  }
}
.WeatherTemperature {
  line-height: 80px;
}
