@import "./WeatherForecast";
@import "./App";
$mainColor: rgb(156, 17, 255);
$textColor: #333333;

.Weather {
  border: 2px solid rgb(156, 17, 255, 0.3);
  border-radius: 5px;
  box-shadow: 2px 1px rgb(156, 17, 255, 0.08);
  color: rgb(33, 33, 33, 0.65);
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  input.form-control {
    color: white;
    background: $mainColor;
    opacity: 0.5;
  }
  /*on very small*/
  @media (max-width: 290px) {
    .btn {
      font-size: 10px;
      width: 50px;
      padding: 10px 0px;
    }
  }
  input::placeholder {
    color: white;
  }
  .row {
    margin: 4px 4px 0px 0px;
  }
  .searchRow {
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
  }
  div.searchForm {
    padding: none;
    max-width: 70%;
  }
  div.searchBtn {
    padding: none;
  }
  .btn {
    background: $mainColor;
    color: white;
    transition: all 0.13s ease-in-out;
    &:hover {
      background: rgb(156, 17, 255, 0.7);
    }
  }
  h1 {
    color: $mainColor;
    opacity: 0.8;
    font-size: 38px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
    text-shadow: 2px 1px rgb(51, 51, 51, 0.15);
  }
  li {
    font-weight: 400;
    line-height: 20px;
    list-style: none;
  }
  canvas {
    display: inline;
    margin-right: 10px;
  }

  .mainIcon {
    font-size: 56px;
    line-height: 90px;
  }
  .currentTemp {
    color: $textColor;
    opacity: 0.95;
    display: inline-block;
    font-size: 56px;
    font-weight: 300;
    line-height: 90px;
    vertical-align: bottom;
    margin-left: 1px;
  }
}
.unit {
  color: $textColor;
  font-size: 18px;
  position: relative;
  top: -22px;
}
a {
  text-decoration: none;
}

.WeatherInfo {
  /*on small*/
  @media (max-width: 500px) {
    .row {
      margin-top: 15px;
    }
    h1 {
      font-size: 34px;
    }
    .dateDetails {
      font-size: 13px;
      padding-top: 5px;
      padding-bottom: 4px;
      margin: 0;
    }
    .listDetails {
      font-size: 13px;
    }
    div.currentTemp {
      transform: scale(75%);
    }
    div.weatherInfoRow {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
    }
  }
  /*on medium-large*/
  @media (min-width: 500px) {
    .row {
      margin-top: 20px;
    }
    h1 {
      font-size: 42px;
    }
    .dateDetails {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 4px;
      margin: 0;
    }
    .listDetails {
      font-size: 16px;
    }
  }
  h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    padding: none;
  }
  ul {
    padding-left: 0;
  }
  .dateDetails {
    color: $textColor;
    opacity: 0.5;
  }
  .listDetails {
    color: $textColor;
  }
}
.WeatherTemperature {
  line-height: 80px;
}
