.Weather {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 4px;
  color: rgb(33, 33, 33, 0.65);
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 20px 0 0 0;
}
.Weather h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  margin: 20px 0 6px 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}
.Weather canvas {
  display: inline;
  margin-top: 2px;
  margin-right: 3px;
}
.Weather .float-left {
  color: #333333;
  display: inline-block;
  font-size: 50px;
  line-height: 42px;
  vertical-align: bottom;
}
.Weather .unit {
  color: #333333;
  font-size: 18px;
  position: relative;
  top: -22px;
}
.Weather a {
  text-decoration: none;
}
